footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    background-color: rgb(24, 30, 44);
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li a {
    display: block;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

footer ul li:first-child {
    background-color: rgb(31, 38, 55);
}

footer ul li:last-child {
    background-color: rgb(21, 164, 250);
}